.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li{ role: "presentation", class: "#{prototype_index_active?("popular")}"}
          =link_to "Popular PROTO", prototypes_popular_path
        %li{ role: "presentation",  class: "#{prototype_index_active?("newest")}"}
          =link_to "Newest PROTO", prototypes_newest_path
      = link_to button_tag("View Tags", class: "btn btn-default col-lg-1"),tags_path

.container.proto-list
  .row#sort_prototypes
    /=render @prototypes だと不具合が出る。
    /パーシャルをフルパスで書かないと、newest_contoroller#indexからこのビューへrenderされた時に
    /prototypes/prototypes/_prototypeというパーシャルを探そうとしてMissingTemplateになってしまう。コントローラをネストしたせいか。
    =render partial: "prototypes/prototype" , collection: @prototypes

.text-center
  = paginate(@prototypes)
