.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to image_tag(@prototype.user.avatar.url, class: "media-object", size: "64x64"), user_path(@prototype.user)
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            =link_to("by #{@prototype.user.name}", user_path(@prototype.user))
            %span.degree #{@prototype.user.member} #{@prototype.user.works}

    .col-md-6.text-right#like-count
      =render "likes/likes_link", prototype:@prototype

    .row
    .col-md-9
      = image_tag(@main_image, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        -@sub_images.each do |sub_image|
          %li.list-group-item
            = image_tag(sub_image, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p #{@prototype.catch_copy}
    .col-md-6
      %h4 Concept
      %p #{@prototype.concept}
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num#comment_count
        (#{@comments.count})
    .col-md-8#comment
      =render @comments

    .col-md-8
      = form_for @comment, :html => {class: "form-inline", role: "form"}, remote: true do |f|
        %h4 Write a comment
        .row
          .form-group.col-md-10
            =f.text_area :content, rows: 3, id: "comment-form", placeholder: "Your comments"
            =f.hidden_field :prototype_id, value: @prototype.id
          .form-group.col-md-2
            =f.submit "Comment", class: "btn btn-primary"
