.container.user-page
  %header.user-nav
    .media
      .media-left
        = link_to image_tag(@user.avatar.url, class: "media-object", size: "64x64"), user_path(@user)
      .media-body
        %h4#top-aligned-media.media-heading
          Top aligned media
          %span.label.label-default.project-number
            =@user.prototypes.count
            %i Projects
        .proto-user
          %span.degree #{@user.member}
        .row
          .col-md-6
            %h4 Profile
            %p #{@user.profile}
          .col-md-6
            %h4 Works
            %p #{@user.works}
.container.proto-list
  .row
    =render @prototypes


.text-center
  = paginate(@prototypes)
