!!!
%html
  %head
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %title Protospace
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -if notice
      %p{class: "alert-notice"} #{notice}
    -if alert
      %p{class: "alert-alert"} #{alert}
    = render "layouts/header"
    = yield
    = render "layouts/footer"
